* {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #414559;
    /* outline: 1px solid red; */
}

#container {
    height: 100vh;
}

#sidebar {
    background-image: linear-gradient(to bottom right, #a542b9, #a860c7, #bf6cd7);
    width: 192px;
    position: fixed;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #f7f7f8;
}

#sidebar a {
    background: transparent;
    display: block;
    min-height: 64px;
    line-height: 64px;
    width: 100%;
    margin: auto;
    transition: 0.1s ease-in-out background-color;
    background: rgba(198, 140, 219, 0.2);
}

#sidebar a.sub {
    min-height: 42px;
    line-height: 42px;
    background: rgba(183, 130, 202, 0.1);
}

#sidebar a .link {
    text-align: left;
    padding-left: 1.5vw;
    color: #f7f7f8;
}

#sidebar a.active .link {
    padding-left: 3vw;
}

#sidebar a.active {
    background: rgba(198, 140, 219, 0.8);
}

#sidebar a:hover {
    background: rgba(198, 140, 219, 0.5);
}

#sidebar a.sub:hover {
    background: rgba(198, 140, 219, 0.3);
}

#main {
    background: #f3f3f9;
    margin-left: 192px;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    color: #737373;
    font-weight: 500;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

#sidebar .header {
    margin-bottom: 2vh;
}

.header {
    min-height: 56px;
}

#main .header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.left-align {
    line-height: 56px;
    flex: 1 0 auto;
    margin-left: 2vw;
}
.right-align {
    line-height: 56px;
    margin-right: 2vw;
}

.card {
    text-align: center;
    padding: 32px 0;
}

button {
    border: none;
    border-radius: 8px;
    margin: 1vh 0;
    padding: 8px 16px;
    background: #d9dbdc;
    color: grey;
    transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color;
}

button:disabled {
    color: #bbb;
}

button:hover:not([disabled]) {
    cursor: pointer;
    color: #bf6cd7;
    background: rgba(198, 198, 219, 0.4);
}

button.add {
    background: rgba(144, 238, 144, 0.4);
}

button.add:hover {
    background: rgba(144, 238, 144, 0.6);
}

button.blacklist, button.cancel-edit {
    background: rgba(240, 128, 128, 0.4);
}

button.blacklist:hover, button.cancel-edit:hover {
    background: rgba(240, 128, 128, 0.6);
}

.content, .content-flex {
    padding: 12px;
}

.content-flex {
    display: flex;
    justify-content: center;
}

.box-50, .box-auto, .box-30 {
    background: #fff;
    border-radius: 4px;
    margin: 8px 8px 16px 8px;
    height: 0%;
}

.box-auto {
    width: calc(100% - 42px);
    padding: 12px;
}

.box-50 {
    width: 50%;
}

.box-30 {
    width: 30%;
}

.button {
    color: #f7f7f8;
    transition: 0.1s ease-in-out background-color;
}

.button .card span {
    color: #f7f7f8;
}

.button.user {
    background: rgba(251, 131, 150, 0.9);
}

.button.vendor {
    background: rgba(255, 150, 87, 0.9);
}

.button.user:hover {
    background: rgba(251, 131, 150, 1.0);
}

.button.vendor:hover {
    background: rgba(255, 150, 87, 1.0);
}

form {
    color: #888;
}

fieldset {
    border: none;
}

#client-form, #vendor-form {
    margin: 0 16px;
}

.label-input {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
    line-height: 40px;
    color: #555;
}

input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 24px;
    padding: 8px;
}

.label-input input {
    width: 80%;
    margin-left: 12px;
}

table {
    width : 100%;
    border-collapse: collapse;
    border: 1px solid #f3f3f9;
}

table th {
    color: #aaa;
}

table td {
    text-align: center;
    padding: 8px 0;
}

table tr {
    border-top: 1px solid #f3f3f9;
    border-bottom: 1px solid #f3f3f9;
    background: rgba(198, 198, 219, 0.1);
}

table tr:first-child {
    border-top: 0;
}

table tr:last-child {
    border-bottom: 0;
}

.button-container {
    text-align: right;
}

#vendor-list {
    list-style: none;
    padding: 12px;
}

.vendor-list-item {
    width: 100%;
    text-align: left;
    display: flex;
    padding-right: 10px;
    word-wrap: break-word;
}

.vendor-name {
    width: 100%;
    padding-right: 2px;
}

.vendor-identity {
    text-align: right;
    border-left: 1px solid #ddd;
    padding-left: 4px;
}

hr {
    border: none;
    background-color: #f3f3f9;
    min-height: 2px;
    margin: 8px 0;
}

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    line-height: 34px;
    margin-left: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: #bf6cd7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bf6cd7;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

.hidden {
    display: none;
}