* {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
}

#container {
    height: 100vh;
}

#sidebar {
    background-image: linear-gradient(to bottom right, #a542b9, #a860c7, #bf6cd7);
    width: 20vw;
    position: fixed;
    height: 100vh;
}

#sidebar a {
    background: transparent;
    display: block;
    height: 8vh;
    line-height: 8vh;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.2s ease-in-out background-color;
    color: #f7f7f8;
    text-decoration: none;
}

#sidebar a .link {
    padding-left: 25%;
}

#sidebar a.active {
    background: rgba(198, 140, 219, 0.8);

}

#sidebar a:hover {
    background: rgba(198, 140, 219, 0.5);
}

#main {
    background: #eaeaea;
    margin-left: 20vw;
    min-height: 100vh;
}

#sidebar .header {
    margin-bottom: 2vh;
}

.header {
    height: 8vh;
    min-height: 24px;
}

#main .header {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header button {
    color: #555;
    border: none;
    background: transparent;
    transition: 0.2s ease-in-out color;
}

button:hover {
    cursor: pointer;
    color: #a542b9;
}

.header .right-align {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin-right: 4vw;
}

.content, .content-flex {
    min-height: 80vh;
    padding: 12px;
}

.content-flex {
    display: flex;
}

.box-50, .box-100 {
    background: #fff;
    border-radius: 4px;
    margin: 16px;
}

.box-50 {
    padding: 12px;
    width: 50%;
}

form {
    color: #888;
}

.label-input {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
    line-height: 40px;
    color: #555;
}

.label-input input {
    width: 80%;
    margin-left: 12px;
    border: 1px solid #ddd;
    height: 24px;
    border-radius: 4px;
    padding: 8px;
}

table {
    width : 100%;
    border-radius: 4px;
}

th {
    color: #aaa;
}