<div class="container">
  <h1>Sign Up Form</h1>
  <hr />
    <form action="">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" name="fullName" id="fullName" required [(ngModel)]="model.fullName"/>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" name="age" id="age" required [(ngModel)]="model.age"/>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" required [(ngModel)]="model.email"/>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" id="address" required [(ngModel)]="model.address" />
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="model.phoneNumber"/>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <hr />
    <div>
      <h2>Model:</h2>
      {{ currentPerson }}
    </div>
</div>