<!DOCTYPE html>

<html lang="en-us">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/js/overview.js"></script>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div id="transactions-container">

      <table>

        <thead>
          <tr>
            <th>SENDER NAME</th>
            <th>SENDER ID</th>
            <th>RECIPIENT NAME</th>
            <th>RECIPIENT ID</th>
            <th>AMOUNT</th>
          </tr>
        </thead>
      
        <tbody>
      
          {% set ns = namespace() %}
          {% set ns.index = 0 %}

          {% for block in blocks %}
      
            {% for transaction in block.transactions %}
        
        
            <tr>
        
              <td>{{senders[ns.index].name}}</td>
              <td>{{transaction.sender[:8]}}</td>
              <td>{{recipients[ns.index].name}}</td>
              <td>{{transaction.address[:8]}}</td>
              <td>{{transaction.amount}}</td>
        
            </tr>

                  {% set ns.index = ns.index + 1 %}
      
            {% endfor %}
      
          {% endfor %}
      
        </tbody>
      
      </table>

    </div>

  </body>

</html>