<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <section id="container">

    <div class="sidebar">
      <div>
        <button id="finalize" type="button">CLOSE REGISTRATION</button>
      </div>
      <div class="ph">
        <a href="#">REGISTRATION</a>
        <a href="#">TRANSACTIONS</a>
      </div>
    </div>

    <div class="main">

      <form id="client-form">
        CLIENT REGISTRATION<br/><br/>
        <input placeholder="Client name" id="client-name" type="text" class="text-input" name="client-name" /><br />
        <input placeholder="Contact number" id="client-contact" type="text" class="text-input" name="client-contact" /><br />
        <input placeholder="Amount" id="client-amount" type="text" class="text-input" name="client-amount" /><br />
        <button id="client-add" type="button">add</button>
      </form>

      <hr/><br/><br/>

      <form id="vendor-form">
        VENDOR REGISTRATION<br/><br/>
        <input placeholder="Business name" id="vendor-name" type="text" class="text-input" name="vendor-name" /><br />
        <input placeholder="Contact number" id="vendor-contact" type="text" class="text-input" name="vendor-contact" /><br />
        <button id="vendor-add" type="button">add</button>
      </form>

    </div>

  </section>

</body>
</html>