<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Management</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div class="header"></div>
            <a href="/transactions">
                <div class="link">TRANSACTIONS</div>
            </a>
            <a class="active" href="/account">
                <div class="link">ACCOUNTS</div>
            </a>
            <a class="sub" href="/users">
                <div class="link">users</div>
            </a>
            <a class="sub" href="/vendors">
                <div class="link">vendors</div>
            </a>
            <a href="/report">
                <div class="link">REPORTS</div>
            </a>
        </div>
        <div id="main">
            <div class="header">
                <div class="left-align">
                    <h2>ACCOUNT MANAGEMENT</h2>
                </div>
                <div class="right-align">
                    {% if blockchain == 0 %}
                    <button id="finalize" type="button" onclick="finalize()">FINALIZE</button>
                    {% else %}
                    <button id="finalize" type="button" onclick="finalize()" disabled>FINALIZE</button>
                    {% endif %}
                </div>
            </div>
            <div class="content-flex">
                <div class="box-30 button user">
                    <a href="/users">
                        <div class="card">
                            <span style="font-size: 16px">CLIENTS</span>
                            <br />
                            <span style="font-size: 32px">{{client_number}}</span>
                        </div>
                    </a>
                </div>
                <div class="box-30 button vendor">
                    <a href="/vendors">
                        <div class="card">
                            <span style="font-size: 16px">VENDORS</span>
                            <br />
                            <span style="font-size: 32px">{{vendor_number}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/register.js"></script>
</body>

</html>