<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../static/js/register.js"></script>
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div class="header"></div>
            <a href="/transactions">
                <div class="link">TRANSACTIONS</div>
            </a>
            <a class="active" href="#">
                <div class="link">REGISTRATION</div>
            </a>
            <a href="/report">
                <div class="link">REPORTS</div>
            </a>
        </div>
        <div id="main">
            <div class="header">
                <div class="left-align">
                    <!-- <button id="finalize" type="button" onclick="finalize()">FINISH</button> -->
                    <button id="client-reg" class="tab active" type="button" onclick="client()">CLIENTS</button>
                    <button id="vendor-reg" class="tab" type="button" onclick="vendor()">VENDORS</button>
                </div>
            </div>
            <div class="content">
                <div id="client-container" class="box-auto">
                    <form id="client-form">
                        <div class="client-header">REGISTER NEW CLIENT</div>
                        <div class="label-input">
                            Name
                            <input placeholder="Client name" id="client-name" type="text" class="text-input"
                                name="client-name" />
                        </div>
                        <div class="label-input">
                            Contact
                            <input placeholder="Contact number" id="client-contact" type="text" class="text-input"
                                name="client-contact" />
                        </div>
                        <div class="label-input">
                            Amount
                            <input placeholder="Amount" id="client-amount" type="text" class="text-input"
                                name="client-amount" />
                        </div>
                        <div class="button-container">
                            <button id="client-add" type="button" onclick="registerClient()">add</button>
                        </div>
                    </form>
                </div>
                <div id="vendor-container" class="box-auto" style="display: none">
                    <form id="vendor-form">
                        <div class="vendor-header">REGISTER NEW VENDOR  </div>
                        <div class="label-input">
                            Name
                            <input placeholder="Business name" id="vendor-name" type="text" class="text-input"
                                name="vendor-name" />
                        </div>
                        <div class="label-input">
                            Contact
                            <input placeholder="Contact number" id="vendor-contact" type="text" class="text-input"
                                name="vendor-contact" />
                        </div>
                        <div class="button-container">
                            <button id="vendor-add" type="button" onclick="registerVendor()">add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>