<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Management</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div class="header"></div>
            <a href="/transactions">
                <div class="link">TRANSACTIONS</div>
            </a>
            <a href="/accounts">
                <div class="link">ACCOUNTS</div>
            </a>
            <a class="sub active" href="/accounts/users">
                <div class="link">users</div>
            </a>
            <a class="sub" href="/accounts/vendors">
                <div class="link">vendors</div>
            </a>
            <a href="/report">
                <div class="link">REPORTS</div>
            </a>
        </div>
        <div id="main">
            <div class="header">
                <div class="left-align">
                    <h2>CLIENTS</h2>
                </div>
                <div class="right-align">
                </div>
            </div>
            <div class="content">
                <div id="client-container" class="box-auto">
                    <form id="client-form">
                        <h4 style="text-align: center">REGISTER NEW CLIENT</h4>
                        <div class="label-input">
                            Name
                            <input placeholder="Client name" id="client-name" type="text" class="text-input"
                                name="client-name" onkeyup="checkClient(event)" />
                        </div>
                        <div class="label-input">
                            Contact
                            <input placeholder="Contact number" id="client-contact" type="text" class="text-input"
                                name="client-contact" onkeyup="checkClient(event)" />
                        </div>
                        <div class="label-input">
                            Amount
                            <input placeholder="Amount" id="client-amount" type="text" class="text-input"
                                name="client-amount" onkeyup="checkClient(event)" />
                        </div>
                        <div class="button-container">
                            <button id="client-add" type="button" onclick="registerClient()" disabled>add</button>
                        </div>
                    </form>
                </div>
                <div class="box-auto">
                    <input type="text" id="search-field" onkeyup="filter()" placeholder="Search by name...">
                    <br />
                    <table id="clients">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Balance</th>
                            <th scope="col" colspan="2"></th>
                        </tr>

                        {% for user in users %}

                        <tr>
                            <td style="width: 40%">{{user[1]}} <span style="color:#aaa">({{user[0][:8]}})</span></td>
                            <td style="width: 20%">{{user[2][0:3]}} {{user[2][3:6]}} {{user[2][6:]}}</td>
                            <td style="width: 20%">{{"{:,.2f}".format(user[5])}}</td>
                            <td style="width: 10%">
                                <button title="Add funds to this user's address" class="add"
                                    onclick="addFunds('{{user[0]}}')">+</button>
                            </td>
                            <td style="width: 10%">
                                <button title="Blacklist this user's address" class="blacklist"
                                    onclick="blacklist('{{user[1]}}', '{{user[0]}}', '{{user[5]}}')">x</button>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/register.js"></script>
</body>

</html>