<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transactions</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../static/js/transactions.js"></script>
</head>

<body>
    <section id="container">
        <div id="sidebar">
            <div class="header"></div>
            <a class="active" href="/transactions">
                <div class="link">TRANSACTIONS</div>
            </a>
            <a href="/">
                <div class="link">ACCOUNTS</div>
            </a>
            <a href="/report">
                <div class="link">REPORTS</div>
            </a>
        </div>
        <div id="main">
            <div class="header">
                <div class="left-align">
                    TRANSACTIONS OVERVIEW
                </div>
                <div class="right-align">
                    STATUS
                    <label class="switch">
                        <!-- change with document.getElementById("node-status").setAttribute("checked", "true/false") -->
                        <input id="node-status" type="checkbox" onclick="toggleNode(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="content">
                <div class="box-auto">
                    <div style="text-align: center">
                        <span style="font-size: 16px">CONFIRMED TRANSACTIONS</span>
                    </div>
                    <table>
                        {% set ns = namespace(t_index = 0) %}

                        {% for block in blocks %}

                        {% for transaction in block.transactions %}
                        {% if transaction.transaction == 0 %}
                        <tr>
                            <td style="min-width: 15%">
                                New account
                            </td>
                            <td style="min-width: 20%">
                                {{transaction.timestamp}}
                            </td>
                            <td style="min-width: 50%" colspan="3">
                                {{t_recipients[ns.t_index].name}}
                                <span style="color:#aaa">({{(transaction.address[:8])}})</span>
                            </td>
                            <td style="min-width: 15%">
                                {{transaction.amount}}
                            </td>
                        </tr>
                        {% elif transaction.transaction == 1 %}
                        <tr>
                            <td style="min-width: 15%">
                                Payment
                            </td>
                            <td style="min-width: 20%">
                                {{transaction.timestamp}}
                            </td>
                            <td style="min-width: 23%; text-align: right!important">
                                {{t_senders[ns.t_index].name}}
                                <span style="color:#aaa">({{(transaction.sender[:8])}})</span>
                            </td>
                            <td style="min-width: 4%; font-size: 24px">⟶</td>
                            <td style="min-width: 23%; text-align: left!important">
                                {{t_recipients[ns.t_index].name}}
                                <span style="color:#aaa">({{(transaction.address[:8])}})</span>
                            </td>
                            <td style="min-width: 15%">
                                {{transaction.amount}}
                            </td>
                        </tr>
                        {% elif transaction.transaction == 2 %}
                        <tr>
                            <td style="min-width: 15%">
                                Add funds
                            </td>
                            <td style="min-width: 20%">
                                {{transaction.timestamp}}
                            </td>
                            <td style="min-width: 50%" colspan="3">
                                {{t_recipients[ns.t_index].name}}
                                <span style="color:#aaa">({{(transaction.address[:8])}})</span>
                            </td>
                            <td style="min-width: 15%">
                                {{transaction.amount}}
                            </td>
                        </tr>
                        {% elif transaction.transaction == 3 %}
                        <tr>
                            <td style="min-width: 15%">
                                Report lost id
                            </td>
                            <td style="min-width: 20%">
                                {{transaction.timestamp}}
                            </td>
                            <td style="min-width: 65%" colspan="3">
                                {{t_recipients[ns.t_index].name}}
                                <span style="color:#aaa">({{(transaction.address[:8])}})</span>
                            </td>
                            <td></td>
                        </tr>
                        {% endif %}
                        {% set ns.t_index = ns.t_index + 1%}

                        {% endfor %}

                        {% endfor %}
                    </table>
                </div>
                <div class="box-auto">
                    <div style="text-align: center">
                        <span style="font-size: 16px">PENDING TRANSACTIONS</span>
                    </div>
                    <table>
                        {% set ns = namespace(pt_index=0) %}

                        {% for pending_transaction in pending_transactions %}

                        {% if pending_transaction.transaction == 0 %}
                        <tr>
                            <td style="min-width: 15%">
                                New account
                            </td>
                            <td style="min-width: 20%">
                                {{pending_transaction.timestamp}}
                            </td>
                            <td style="min-width: 50%" colspan="3">
                                {{pt_recipients[ns.pt_index].name}}
                                <span style="color:#aaa">({{(pending_transaction.address[:8])}})</span>
                            </td>
                            <td style="min-width: 15%">
                                {{pending_transaction.amount}}
                            </td>
                        </tr>
                        {% elif pending_transaction.transaction == 1 %}
                        <tr>
                            <td style="min-width: 15%">
                                Payment
                            </td>
                            <td style="min-width: 20%">
                                {{pending_transaction.timestamp}}
                            </td>
                            <td style="min-width: 23%; text-align: right!important">
                                {{pt_senders[ns.pt_index].name}}
                                <span style="color:#aaa">({{(pending_transaction.sender[:8])}})</span>
                            </td>
                            <td style="min-width: 4%; font-size: 24px">⟶</td>
                            <td style="min-width: 23%; text-align: left!important">
                                {{pt_recipients[ns.pt_index].name}}
                                <span style="color:#aaa">({{(pending_transaction.address[:8])}})</span>
                            </td>
                            <td style="min-width: 15%">
                                {{pending_transaction.amount}}
                            </td>
                        </tr>
                        {% elif pending_transaction.transaction == 2 %}
                        <tr>
                            <td style="min-width: 15%">
                                Add funds
                            </td>
                            <td style="min-width: 20%">
                                {{pending_transaction.timestamp}}
                            </td>
                            <td style="min-width: 50%" colspan="3">
                                {{pt_recipients[ns.pt_index].name}}
                                <span style="color:#aaa">({{(pending_transaction.address[:8])}})</span>
                            </td>
                            <td style="min-width: 15%">
                                {{pending_transaction.amount}}
                            </td>
                        </tr>
                        {% elif pending_transaction.transaction == 3 %}
                        <tr>
                            <td style="min-width: 15%">
                                Report lost id
                            </td>
                            <td style="min-width: 20%">
                                {{pending_transaction.timestamp}}
                            </td>
                            <td style="min-width: 65%" colspan="3">
                                {{pt_recipients[ns.pt_index].name}}
                                <span style="color:#aaa">({{(pending_transaction.address[:8])}})</span>
                            </td>
                            <td></td>
                        </tr>
                        {% endif %}

                        {% set ns.pt_index = ns.pt_index + 1%}

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </section>

</body>

</html>